.createBanner{
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.buttonarea{
  height: 500px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}