.navbar{
    background-color: ghostwhite;
    height: 50px;
}
nav button{
    background-color:gray;
    width: 33.333%;
    height: 100%;
}
nav button a{
    color: pink;
    text-decoration: none;
}